<footer>
    <div class="footer-content">
            <p>&copy; 2025 Ethical Research Resource. Created by Tahiyat Chy for educational purposes.</p>
            <div class="validator-links">
                <a href="https://validator.w3.org/check?uri=referer" target="_blank" aria-label="HTML Validator">HTML Validator</a>
                <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" aria-label="CSS Validator">CSS Validator</a>
                <a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/tchy/itis3135/hsrethics" target="_blank" aria-label="Accessibility Checker">Accessibility Checker</a>
            </div>
    </div>
</footer>