<header>
    <nav class="navbar">
            <div class="nav-brand">
                <h1>Ethical Research Resource</h1>
            </div>
            <ul class="nav-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="project_overview.html">This Initiative</a></li>
                <li><a href="learn.html">Learn</a></li>
                <li><a href="test.html">Test</a></li>
                <li><a href="interactive.html">Interactive</a></li>
            </ul>
        </nav>
</header>