<header>
    <h1>ITIS 3135 | Tahiyat Chy's | Thorny Chimaera</h1>
    <nav id="primary-nav">
        <ul>
            <li><a href="index.html" title="Home">Home</a></li>
            <li><a href="introduction.html" title="Introduction">Introduction</a></li>
            <li><a href="contract.html" title="Contract">Contract</a></li>
            <li><a href="website_evaluations.html" title="CRAP Evaluation">Website Evaluations</a></li>
            <li><a href="fccfsjs_outline.html" title="FCC Full Stack JavaScript Outline">FCC Full Stack JavaScript Outline</a></li>
            <li><a href="intro_form.html" title="Introduction Form">Introduction Form</a></li>
        </ul>
    </nav>
    <nav id="secondary-nav"><ul>
        <li><a href="chydesigned.com\index.html" title="Design Firm">Design Firm</a></li>
        <li><a href="thornychimaera\index.html" title="Thorny Chimaera">Mascot Site</a></li>
        <li><a href="stuff\Index !.htm" title="CRAPPY Webpage">CRAPPY Webpage</a></li>
        <li><a href="hobby\index.html" title="Hobby">Hobby</a></li>
    </ul></nav>
</header>